<div class="html">
  <img class="big-img" src="assets/img/hero.jpg" />
  <form (submit)="onSignup(); $event.preventDefault()">
    <div class="img-con">
      <img src="assets/img/nas.png" [routerLink]="'/'" />
    </div>
    <h1>Sign-Up</h1>

    <div class="form-con">
      <div class="inp">
        <p class="p">Enter your Name</p>
        <input
          type="text"
          [(ngModel)]="name"
          name="name"
          placeholder="Your Name"
          required
        />
      </div>
      <div class="inp">
        <p class="p">Enter your Email</p>
        <input
          type="email"
          [(ngModel)]="email"
          placeholder="Email"
          name="email"
          required
        />
      </div>
      <div class="inp">
        <p class="p">Enter a Password</p>
        <input
          type="password"
          [(ngModel)]="password"
          placeholder="Password"
          name="password"
          required
        />
      </div>
      <button type="submit">Sign Up</button>
      <p class="err" *ngIf="error">{{ error }}</p>
    </div>
  </form>
</div>
