<section class="section" id="section--1">
  <div class="section__title">
    <h2 class="section__description">Features</h2>
    <h3 class="section__header">
      Everything you need in a modern bank and more.
    </h3>
  </div>
  <div class="features">
    <img
      src="assets/img/digital.jpg"
      data-src="assets/img/digital.jpg"
      alt="Computer"
      class="features__img"
    />
    <div class="features__feature">
      <div class="features__icon">
        <svg><use xlink:href="assets/img/icons.svg#icon-monitor"></use></svg>
      </div>
      <h5 class="features__header">100% digital bank</h5>
      <p>Welcome to the world of banking without stress...</p>
    </div>
    <!-- Add other features similarly -->
    <div class="features__feature">
      <div class="features__icon">
        <svg>
          <use xlink:href="assets/img/icons.svg#icon-trending-up"></use>
        </svg>
      </div>
      <h5 class="features__header">Watch your money grow</h5>
      <p>
        When you save with us, growth is guaranteed, because we offer the best
        ineterest rates.
      </p>
    </div>
    <img
      src="assets/img/grow.jpg"
      data-src="assets/img/grow.jpg"
      alt="Plant"
      class="features__img"
    />

    <img
      src="assets/img/card.jpg"
      data-src="assets/img/card.jpg"
      alt="Credit card"
      class="features__img"
    />
    <div class="features__feature">
      <div class="features__icon">
        <svg>
          <use xlink:href="assets/img/icons.svg#icon-credit-card"></use>
        </svg>
      </div>
      <h5 class="features__header">Free debit card included</h5>
      <p>
        We offer you credit cards at no cost at all. The credit card wil be
        delivered directly to your doorstep, without you having to leave the
        comfort of your home.
      </p>
    </div>
  </div>
</section>
