<div class="background">
  <div class="acc">
    <nav>
      <ul>
        <div class="image-con">
          <img class="logo" src="assets/img/nas.png" />
        </div>
        <div style="display: flex; flex-direction: column; gap: 57rem">
          <div style="display: flex; flex-direction: column; gap: 2rem">
            <li [class.active]="activeTab === 0" (click)="setActiveTab(0)">
              Home
            </li>
          </div>
          <li (click)="logout()"><a>LogOut</a></li>
        </div>
      </ul>
    </nav>
    <div class="body">
      <div class="search">
        <input placeholder="Search" type="text" />
        <div class="icons">
          <i class="fa-solid 2xl fa-bell"></i>
          <div class="circle">
            <i class="fa-solid fa-user"></i>
          </div>
        </div>
      </div>
      <div class="others">
        <h2>Welcome back{{ userName ? ", " + userName : "" }}...</h2>
        <div class="stuff">
          <p>Transactional Data</p>
        </div>
      </div>
    </div>
  </div>
</div>
