<div class="overlay" *ngIf="isOpen" (click)="onClose()" @fadeInOut></div>

<div class="modal" *ngIf="isOpen" @fadeInOut>
  <button class="btn--close-modal" (click)="onClose()">&times;</button>
  <h2 class="modal__header">
    <span class="highlight">Log In</span>
  </h2>
  <form class="modal__form" (ngSubmit)="onSubmit()">
    <label>Email Address</label>
    <input type="email" [(ngModel)]="email" name="email" required />
    <label>Password</label>
    <input [(ngModel)]="pass" name="pass" type="password" required />
    <button class="btn">Next step &rarr;</button>
  </form>
  <p class="err" *ngIf="error">{{ error }}</p>
</div>
