<section class="section" id="section--3">
  <div class="section__title section__title--testimonials">
    <h2 class="section__description">Not sure yet?</h2>
    <h3 class="section__header">
      Millions of our clients are already making their lifes simpler.
    </h3>
  </div>

  <div class="slider">
    <div class="slide slide--1" #slideRef>
      <div class="testimonial">
        <h5 class="testimonial__header">Best financial decision ever!</h5>
        <blockquote class="testimonial__text">
          This is the best bank. I’m enjoying seamless banking plus the low cost
          transfers to other banks is a thing of joy. This is what I call
          freedom. I’ve made Nas bank my main bank and I’m gonna refer all my
          friends!.
        </blockquote>
        <address class="testimonial__author">
          <img src="assets/img/user-1.jpg" alt="" class="testimonial__photo" />
          <h6 class="testimonial__name">Ani Nnaemeka</h6>
          <p class="testimonial__location">Lagos</p>
        </address>
      </div>
    </div>

    <div class="slide slide--2" #slideRef>
      <div class="testimonial">
        <h5 class="testimonial__header">
          Excellent customer service; Truly digital !!!
        </h5>
        <blockquote class="testimonial__text">
          Well done to the guys at Nas bank had a dispensing error on Friday
          night and reached out to them on Sunday... 48 working hours after and
          my money is back in my account... Special shout out to Maxwell and
          Norah.
        </blockquote>
        <address class="testimonial__author">
          <img src="assets/img/user-2.jpg" alt="" class="testimonial__photo" />
          <h6 class="testimonial__name">Ibrahim Ma'aji</h6>
          <p class="testimonial__location">Abuja</p>
        </address>
      </div>
    </div>

    <div class="slide slide--3" #slideRef>
      <div class="testimonial">
        <h5 class="testimonial__header">Finally free from old-school banks</h5>
        <blockquote class="testimonial__text">
          Just joined the best Digital Bank in Nigeria.I can now carryout all my
          business transactionsfrom the comfort of my home without having to
          step out. I have no complaints whatsoever since i started using Nas.
        </blockquote>
        <address class="testimonial__author">
          <img src="assets/img/user-3.jpg" alt="" class="testimonial__photo" />
          <h6 class="testimonial__name">Oladimeji Ajegbile</h6>
          <p class="testimonial__location">lagos</p>
        </address>
      </div>
    </div>

    <div class="slide slide--5" #slideRef>
      <div class="testimonial">
        <h5 class="testimonial__header">Promise Keepers</h5>
        <blockquote class="testimonial__text">
          I highly recommend this bank, it does what it says "The bank of the
          free". I have received my Nas card, right at my door step without
          paying a dime.
        </blockquote>
        <address class="testimonial__author">
          <img src="assets/img/user-4.jpg" alt="" class="testimonial__photo" />
          <h6 class="testimonial__name">Bernice Walter</h6>
          <p class="testimonial__location">PortHarcourt</p>
        </address>
      </div>
    </div>

    <button class="slider__btn slider__btn--left" #btnLeft>&larr;</button>
    <button class="slider__btn slider__btn--right" #btnRight>&rarr;</button>
    <div class="dots" #dotsContainer></div>
  </div>
</section>
